/*
  UI Styles: Buttons
*/
.btn-default {
  color: #ffffff;
  background-color: #b9d9f5;
  border-color: transparent;
  box-shadow: 0 2px 0 #94bfe4;
}

.btn-primary {
  color: #ffffff;
  background-color: #dd6e00;
  border-color: transparent;
  box-shadow: 0 2px 0 #a15037;
}

.btn-success {
  color: #ffffff;
  background-color: #67b96f;
  border-color: transparent;
  box-shadow: 0 2px 0 #4b9b53;
}

.btn-warning {
  color: #ffffff;
  background-color: #f5b159;
  border-color: transparent;
  box-shadow: 0 2px 0 #df9c44;
}

.btn-follow {
  color: #ffffff;
  background-color: #268cde;
  border-color: transparent;
  box-shadow: 0 2px 0 #df9c44;
  height: 32px;
}

.btn {
  text-decoration:none;
  display: inline-block;
  position: relative;
  top: 0;
  border: none;
  padding: 0 15px;
  margin: 5px;
  height: 30px;
  line-height: 30px;
  outline: none;
  border-radius: 4px;
/*  font-family: "Open Sans", sans-serif;*/
  font-weight: 400;
  -webkit-backface-visibility: hidden;
}
.btn.btn-lg {
  border-radius: 4px;
  padding: 0 20px;
  height: 44px;
  line-height: 44px;
}

.btn.btn-icon {
  font-size: 18px;
  height: 29px;
  width: 32px;
  line-height: 32px;
  padding: 0;
  text-align: center;
  color: #fff;
  background: #b9d9f5;
  margin: 5px;
  box-shadow: 0 2px 0 #94bfe4;
}
.btn.btn-icon:hover {
  background: #7db3e1;
  box-shadow: 0 2px 0 #6495be;
}
.btn.btn-icon.btn-lg {
  width: auto;
  font-size: 32px;
  height: 44px;
  line-height: 44px;
  padding: 0 25px;
}

.btn:active,
.btn.active {
  top: 2px;
  outline: 0;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: .075s;
  -moz-transition: .075s;
  -ms-transition: .075s;
  -o-transition: .075s;
  transition: .075s;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  color: #ffffff;
  background-color: #b0d3f1;
  border-color: transparent;
  text-decoration:none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #CF9F2B;
  border-color: transparent;
  text-decoration:none;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #5db265;
  border-color: transparent;
  text-decoration:none;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f3a643;
  border-color: transparent;
  text-decoration:none;
}

// Custom buttons

.ot-subscribe {
  vertical-align: top;
  display: inline-block;
  height: 16px;
  padding: 0 4px;
  border: 1px solid #dd6e00;
  border-radius: 3px;
  background: #dd6e00;
  color: #eee;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 2px solid #a15037;
  /* IE7 */
  *display: inline;
  *zoom: 1;
}

.ot-share {
  vertical-align: top;
  display: inline-block;
  height: 16px;
  padding: 0 4px;
  border: 1px solid #0EA767;
  border-radius: 3px;
  background: #0EA767;
  color: #eee;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 2px solid #099A5A;
  /* IE7 */
  *display: inline;
  *zoom: 1;
}

.ot-subscribe:hover {
  border-color: #a15037;
}

.ot-share:hover {
  border-color: #099A5A;
}

.ot-subscribe:before {
  content: "\f0fe";
  font-family: FontAwesome;
  position: relative;
  top: 3px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 1px;
}

.ot-share:before {
  content: "\f064";
  font-family: FontAwesome;
  position: relative;
  top: 3px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 1px;
}

.ot-subscribe-text {
  position: relative;
  top: 3px;
}

.ot-schedule {
  padding: .4rem .7rem .2rem .7rem;
  background-color: #dd6e00;
  color: #fff;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  line-height: 1.5rem;
  border-bottom: 4px solid #a15037;
  border-radius: 3px;
}

.ot-schedule.fw {
  width: 100%;
  display: inline-block;
  padding-right: 2rem;
  position: relative;
}
.ot-schedule.fw i.fa {
  position: absolute;
  top: .75rem;
  right: .75rem;
}
.ot-schedule:hover i.fa {
  opacity: 9;
}
