.ot-share {
  vertical-align: top;
  display: inline-block;
  height: 18px;
  padding: 0 4px;
  border: 1px solid #dd6e00;
  border-radius: 3px;
  background: #dd6e00;
  color: #eee;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  /* IE7 */
  *display: inline;
  *zoom: 1;
}
.ot-share:hover {
  border-color: #a15037;
}

.ot-share-text {
  position: relative;
  top: -1px;
}